.carusel_block{
    width: 944px;
    margin:0 auto;
    position: relative;
}
.wrap_carusel{
    overflow: hidden;
    position: relative;
}
.carusel{
    padding:10px 0;
    width: 10000px;
    transition: all .2s linear 0s;
}
button{
    color:#000;
    font-size:30px;
    display: block;
    position: absolute;
}
.prev{
    left: -34px;
}
.next{
    right: -34px;
}